* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family:-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;
}


html {
	font-size: 60px;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	min-height: 100%;
}

body {
	font-family:-apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;
	font-size: .24rem;
	margin: 0;
	padding: 0;
	color: #666;
	overflow-x: hidden;
	min-height: 100%;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

xmp {
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 0.2rem;
	margin: 0;
	padding: 0;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

ol,ul,li,dl,dt,dd,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary,video,audio,pre {
	margin: 0;
	padding: 0
}

ol,ul,li {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal
}

h1,.bui-h1 {
	font-size: .3rem
}

h2,.bui-h2 {
	font-size: .26rem
}

h3,.bui-h3 {
	font-size: .22rem
}

h4,.bui-h4 {
	font-size: .18rem
}

h5,.bui-h5 {
	font-size: .14rem
}

h6,.bui-h6 {
	font-size: .1rem
}

p {
	margin: 0;
	margin-bottom: .1rem;
	font-size: .2rem;
	color: #777
}

article {
	padding: .1rem
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}[hidden],template {
	display: none
}

a {
	background: transparent;
	text-decoration: none
}

a:focus {
	outline: thin dotted #333;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a:active,a:hover {
	outline: 0;
	text-decoration: none
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

mark {
	color: #000;
	background: #ff0
}

small {
	font-size: 80%
}

sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	height: 0;
	box-sizing: content-box
}

pre {
	overflow: auto
}

code,kbd,pre,samp {
	font-family: monospace, monospace;
	font-size: 0.2rem
}

button,input,optgroup,select,textarea {
	margin: 0;
	color: inherit;
	font: inherit;
	font-size: 100%;
	vertical-align: middle
}

input,textarea {
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-box-shadow: none;
	box-shadow: none
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

button:focus,textarea:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="submit"]:focus {
	outline: 0
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

textarea {
	overflow: auto;
	vertical-align: top
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

input {
	line-height: normal
}

input[type="checkbox"],input[type="radio"] {
	padding: 0;
	box-sizing: border-box
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0
}

legend {
	padding: 0;
	border: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%
}

td,th {
	margin: 0;
	padding: 0
}

label {
	display: inline-block
}[placeholder] {
	font-family: 'Microsoft yahei'
}

input[type="password"] {
	padding-left: 0
}

/*切换动画*/
.child-view {
 position: absolute;
 width:100%;
 height: 100%;
 transition: all .5s;
 overflow-x: hidden;
}
.slide-left-enter, .slide-right-leave-active {
 opacity: 0;
 -webkit-transform: translate(100%, 0);
 transform: translate(100%, 0);
}
.slide-left-leave-active, .slide-right-enter {
 opacity: 1;
 -webkit-transform: translate(-100%, 0);
 transform: translate(-100%, 0);
}

.indexbg{ width:7.5rem; }
.nav{ position: relative; position: fixed; bottom: 0; height: 1.03rem; width: 7.5rem; display: flex; display: -webkit-flex;}
.nav img{ width: 100%; height: 1.03rem;position: absolute;top:0;left: 0; z-index: -9 }
.navbox{ width: 25%; display: block; height: 100% }
.topfix{ width: 100%;height: .88rem; background:url(../img/topfix.jpg) no-repeat 0 0; background-size: 100%; top:0; position: fixed; text-align: center; font-size: .28rem; line-height: .88rem; color: #fff }
.gotobank{     width: 100%;height: .8rem;position: absolute;top: 5.4rem; }
.useinfo_gongsi {width: 100%;height: .8rem;position: absolute;top: 3.5rem;}
.banktopfix{ width: 100%; height: .93rem; background:url(../img/banktop.jpg) no-repeat 0 0; background-size: 100%; position: fixed; top:0;}
.bottonnav{width: 100%; height: 1.36rem; background:url(../img/bottom_btn.jpg) no-repeat 0 0; background-size: 100%; position: fixed; bottom:0;}
#bank{ background: #f5f6fa }
.bankbox{ width: 6.88rem; height: 2.12rem; background: #fff; border-radius: 0.3rem; margin:1.2rem auto 0.2rem auto; box-sizing: border-box; padding:0.4rem; display: flex; }
.logos{ width: 1rem; height: 1rem; border-radius: 50% }
.info { margin-left: 0.55rem; }
.info p { font-size: .32rem; color: #333 }
.info .f28{ font-size: .28rem; }
.info .f26{ font-size: .26rem; color: #31af70}
.info .f26 i{ width: .26rem; height: .26rem; background: url(../img/wenhao.jpg) no-repeat 0 0; background-size: 100%; display: inline-block; margin-left: 0.1rem; }
.retrun { width: 1.5rem; height: .93rem; position: absolute; left: 0; top:0; }
.gotonext{    width: 2rem;
    height: 1.5rem;
    position: absolute;
    left: 0.5rem;
    top: 4rem; }
.gotonext1{ width: 2rem;
    height: 2rem;
    position: absolute;
    left: 2.2rem;
	top: 6rem; }
	.gotonext2{ width: 2rem;
		height: 2rem;
		position: absolute;
		left: 0.1rem;
		top: 6rem; }
	.gotonext11{
		height: 1.5rem;
    position: absolute;
    left: 0;
    top: 10.5rem;
    width: 7rem;
	}
.sbtop{
	width: 100%; height: .93rem; background:url(../img/top1.jpg) no-repeat 0 0; background-size: 100%; position: fixed; top:0; z-index: 999
}
.sbtop1{
	width: 100%; height: .93rem; background:url(../img/top2.jpg) no-repeat 0 0; background-size: 100%; position: fixed; top:0; z-index: 999
}
.sbtop2{
	width: 100%; height: .93rem; background:url(../img/top3.jpg) no-repeat 0 0; background-size: 100%; position: fixed; top:0; z-index: 999
}
.sbtop3{
	width: 100%; height: .93rem; background:url(../img/top4.jpg) no-repeat 0 0; background-size: 100%; position: fixed; top:0; z-index: 999
}
.h93{ height: .93rem;}
#gs{ background-color: #f5f6fa;}
.h100{height:.89rem}
.van-tab--active{font-weight: normal;}
.bigbox img{ width: 100%; }
.bigbox{ width: 100%; height: 100%; background: #f5f6fa }
.nonebox{ width: 2.88rem;  height: 3.67rem; background: url(../img/none.jpg) no-repeat 0 0; background-size:100%; margin:35% auto;}
.box_year h2{font-size: .28rem; color: #313445; padding:.25rem .35rem;}
.infoboxz{ background: #fff; padding:.25rem .35rem; width: 100%; box-sizing: border-box; position: relative;}
.infoboxz i{ width: 0.12rem; height: 0.18rem; background: url(../img/jt.jpg) no-repeat 0 0 ; background-size:100%;  position: absolute; right: 0.35rem; top:0.7rem; display: block; }
.infoboxz p:first-child{ color: #333; font-size: 0.32rem }
.infoboxz p{color: #bbbfc9; margin-bottom: 0.05rem; font-size: 0.3rem;}
.nonetxt {text-align: center; font-size: 0.28rem; display: flex; align-items: center; width: 100%; height: 100% ; margin-top: 40%; justify-content: center; color: #333}
.formbox{ background: #f5f6fa; }
.tt,.tt img{ width: 100%;  height:.95rem;  }
.fbox{ margin-top: 0.2rem;background: #fff}
.rowbox { display: flex; display: -webkit-flex; justify-content: space-between;  box-sizing: border-box;  padding:0.25rem;}
.rowbox_r{ color: #333; margin-right: 0.25rem; font-size: 0.3rem; text-align: right; width: 3.5rem;}
.w350z{ width: 3.5rem;}
.rhui .rowbox_l{ color: #a1a4ab; font-size: .3rem; }
.rowbox_l{font-size: .3rem; color: #000;}
.fixs{ position: fixed; top:.93rem; width:100%; z-index: 99 }
#info .van-tabs__wrap{ position: fixed; top:.89rem; width: 100%; z-index: 999; }
.h22{ height: .2rem; background: #f5f6fa;  }
.sp {display: flex; display: -webkit-flex; align-items: center; position: relative; color: #969696}
.sp i{ width: 0.12rem; height: 0.18rem; background: url(../img/jt.jpg) no-repeat 0 0 ; background-size:100%;  display: block;  position: absolute; top: 0.15rem;right: -0.2rem;}
.sp em{ width: .23rem; height: 0.12rem; background: url(../img/jt2.jpg) no-repeat 0 0; background-size:100%; display: block;  position: absolute; top: 0.2rem;right: -0.25rem;   }

.gotologin{position: absolute;
    top: 1.2rem;
    left: 2rem;
    color: #fff;
    font-size: 0.28rem; }
    .logintop{ margin-top: 0.85rem; width: 100%; }
    .logintop img{ width: 100%; }
    .inputbox input{border:none;}
	.inputbox{  display: flex; display: -webkit-flex; padding:0.2rem 0.3rem; border-bottom: solid 1px #eee; align-items: center;  width: 7rem; margin:0 auto;   }
	.inputbox em{ font-style: normal; margin-right: 0.5rem }
.btnlogin{ width: 7rem; height: 1rem; background: #5384ed; color: #fff; text-align: center; line-height: 1rem;font-size: .26rem; margin:0.8rem auto}
.outlogin{ width: 100%; height: 1.03rem; position: absolute;bottom: 0.2rem;}
.outlogin img{ width: 100%; height: 100% }
.useinfos{ width: 2rem; height: 1rem; color: #fff; position:absolute; left: 2rem;top: 0.9rem;  }
.useinfos p:first-child{ font-size: 0.32rem; }
.useinfos p{color: #fff; font-size: .28rem}
.icons{ width: 2rem;position: absolute;top: 0.8rem;
    right: 0.4rem; }



.gs_box{ width: 6.9rem; background-color: #fff; border-radius: 0.2rem; margin: 0.2rem auto 0 auto; padding: 0.4rem; box-sizing: border-box;}  
.gs_box p:first-child{ font-size: .36rem; color: #000; margin-top: 0;}
.gs_box P{ font-size: 0.32rem; color: #9099a2; margin-top: 0.2rem; margin-bottom: 0;}

.indextip{ width: 100%; height: 1rem; background: url(../img/indextip.png) no-repeat 0 0; background-size:100% 1rem; position:fixed; top:0; z-index: 999;}

#yeaer{height: 100%; overflow:hidden;}
.w487{ width: 4.87rem; font-size: .28rem; color: #000; text-align: center;margin: 0.2rem auto 0.5rem auto;}
.van-dialog__header{ color: #000; font-weight: bold;}
.fixbtnbottom{ width: 100%; height: 1.1rem; border-top:solid 1px #c7c7c9 ; position: fixed; bottom: 0; background-color: #fff; text-align: center; line-height: 1.1rem; font-size: .36rem; color: #2871ef;
	-moz-box-shadow:0px -7px 10px #E6E6E6; -webkit-box-shadow:0px -7px 10px #E6E6E6; box-shadow:0px -7px 10px #E6E6E6;
}
.h110{ height: 1.1rem;}